{% extends 'base.html' %}
{% block content %}
<div class="max-w-4xl mx-auto mt-10 p-6 bg-white shadow-md rounded-md">
    <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-semibold text-gray-800">Scores</h1>
    <a href="{% url 'score_create' %}" class="inline-block px-6 py-2 text-white bg-green-600 rounded-md hover:bg-green-700 transition duration-200">
        Add New Report
    </a>
</div>
    <table class="w-full border-collapse">
        <thead>
            <tr class="bg-gray-800">
                <th class="py-2 px-4 border-b text-white">Match</th>
                <th class="py-2 px-4 border-b text-white">Team 1 Score</th>
                <th class="py-2 px-4 border-b text-white">Team 2 Score</th>
                <th class="py-2 px-4 border-b text-white">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr class="hover:bg-gray-100">
                    <td class="py-2 px-4 border-b">{{ score.match }}</td>
                    <td class="py-2 px-4 border-b">{{ score.score_team1 }}</td>
                    <td class="py-2 px-4 border-b">{{ score.score_team2 }}</td>
                    {% if user.role == 'admin' %}
                    <td class="py-2 px-4 border-b">
                        <a href="{% url 'score_detail' score.pk %}" class="text-blue-600 hover:underline">View</a> |
                        <a href="{% url 'score_update' score.pk %}" class="text-yellow-600 hover:underline">Edit</a> |
                        <a href="{% url 'score_delete' score.pk %}" class="text-red-600 hover:underline">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="py-4 text-center text-gray-600">No scores available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
