{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="max-w-lg mx-auto mt-8 p-6 bg-white shadow-md rounded-md">
    <h1 class="text-2xl font-semibold text-center mb-6 text-gray-800">{{ form.instance.pk|yesno:'Update Match,Create Match' }}</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="space-y-4">
            {% for field in form %}
                <div class="flex flex-col">
                    <label for="{{ field.id_for_label }}" class="text-lg font-medium text-gray-700 mb-1">{{ field.label }}:</label>
                    {{ field|add_class:"w-full py-2 px-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" }}
                    {% if field.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ field.errors|join:', ' }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="flex justify-between">
            <button type="submit" class="bg-green-500 text-white my-2 py-3 px-6 rounded-lg hover:bg-green-600 transition duration-300">
                {% if not match %}
                    Create Match
                {% else %}
                    Update Match
                {% endif %}
            </button>
            <a href="{% url 'match_list' %}" class="bg-gray-500 text-white my-2 py-3 px-6 rounded-lg hover:bg-gray-600 transition duration-300">
                Cancel
            </a>
        </div>
    </form>
</div>
{% endblock %}
