{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLMS</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'images/logo.jpg' %}">
</head>
<body class="bg-gray-100">
    <div class="flex">
        {% if user.is_authenticated %}
        <div id="sidebar" class="w-64 bg-gray-800 text-white min-h-screen hidden md:block">
            <div class="p-4">
                <h2 class="text-2xl font-semibold text-white mb-6">Navigation</h2>
                <div class="flex flex-col items-center mb-3 mr-20">
                    <a href="{% url 'edit_user' user.id %}" class="block py-2 px-4 rounded">
                        <img src="{{ user.profile_image.url }}" alt="Profile" class="w-24 h-24 rounded-full border-4 border-gray-300 mb-2">
                    </a>
                    <h2 class="text-xl font-semibold">{{ user.username }}</h2>
                    <p class="text-sm text-red-400 font-semibold">{{ user.role }}</p>
                </div>
                <ul class="mt-6 space-y-2">
                    {% if user.role == 'admin' %}
                    <li><a href="{% url 'user_list' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Users</a></li>
                    {% endif %}
                   <li><a href="{% url 'auth' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Dashboard</a></li>
                   <li><a href="{% url 'analytics' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Analytics</a></li>
                   <li><a href="{% url 'league_list' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Leagues</a></li>
                   <li><a href="{% url 'match_list' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Matches</a></li>
                   <li><a href="{% url 'team_list' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Teams</a></li>
                   <li><a href="{% url 'schedule_list' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Schedule</a></li>
                   <li><a href="{% url 'score_list' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Scores</a></li>
                   <li><a href="{% url 'report_list' %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Reports</a></li>
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="flex-1">
            <div class="bg-gray-900 text-white p-4 flex justify-between items-center">
                <button id="sidebarToggle" class="md:hidden text-white">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="flex items-center">
                    <form action="{% url 'search_results' %}" method="get" class="flex items-center space-x-2">
                        <input type="text" name="q" placeholder="Search..." class="px-4 py-2 rounded-lg text-black" value="{{ request.GET.q }}">
                        <button type="submit" class="bg-gray-600 text-white px-4 py-2 rounded-lg">Search</button>
                    </form>
                </div>
                <div class="flex items-center space-x-4">
                    {% if user.is_authenticated %}
                    <span>Welcome, {{ user.username }}</span>
                    <a href="{% url 'user_logout' %}" class="text-red-500">Logout</a>
                    {% else %}
                    <a href="{% url 'user_login' %}" class="text-white">Login</a>
                    <a href="{% url 'register' %}" class="text-white">Register</a>
                    <a href="{% url 'home' %}" class="text-white">Landing</a>
                    {% endif %}
                </div>
            </div>
            <div class="p-6">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script>
        document.getElementById('sidebarToggle').addEventListener('click', function() {
            document.getElementById('sidebar').classList.toggle('hidden');
        });
    </script>
</body>
</html>
