{% extends 'base.html' %}

{% block content %}
<h1>Register</h1>
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            <span class="helptext">{{ field.help_text }}</span> 
        </div>
    {% endfor %}
    <button type="submit">Register</button>
</form>
<a href="{% url 'github_login' %}" class="login-link">Continue with GitHub</a>
<a href="/login" class="login-link">Already have an account? Log in</a>
{% endblock %}
